<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

  </head>

  <body id="page-top" bgcolor="#8484B0">


      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    </nav>



    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">

            <center><h2><font color=white face=Nanam Gothic>Please proceed to</font> </h2></center>
            <br>
            <br>
            <center><font size=60pt color=white face=helvetica>Aisle 52</font>
            <br>
            <br>
            <center><img src="/static/img/store-map-small.jpg"></center>
            <br>
            <br>
            <center><h2><font color=white face=Nanam Gothic>Our concierge will meet you there</font></h2></center>




              </div>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </header>

  </body>

</html>




